.profileScreen{
    height:100vh;
    color:white;
    padding-bottom:10%;
    background-color: grey;
}

.profileScreen_body{
   
    display:flex;
    flex-direction:column;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding-top:8%;
    max-width: 800px;
}
.profileScreen_info{
    padding:10px;
    display:flex;
}

.profileScreen_body>h1{
font-size: 40px;
font-weight: 400;
border-bottom : 1px solid black;
margin-bottom: 20px;
}

.profileScreen_details>h2{
    background-color: black;
    color:white;
    padding:15px;
    font-size:15px;
    padding-left:20px;
}
.profileScreen_signOut{
    padding: 10px 20px;
    font-size: 1rem;
    color:black;
    background-color:yellow;
}

.profileScreen_info>img{
    height:100px;
}
.profileScreen_plans>h3{
    border-bottom : 1px solid grey;
    padding-bottom:10px;
}
@media screen and (max-width: 500px) {
    .profile_image{
        display: none;
    }
    .app_editprofile_heading{
        font-size:30px;
        padding-top:40px;
    }
}